#{extends 'main.html' /}
#{set title:'Home' /}

<script type="text/javascript">
$(function(){

	var r = Raphael('map', 1030, 820),
	
	attributes = {
        fill: '#fff',
        stroke: '#3899E6',
        'stroke-width': 1,
        'stroke-linejoin': 'round'
    },
	
		arr = new Array();
	    Plaka=new Array();
	
	for (var country in paths) {
		
		
		
		
		var obj = r.path(paths[country].path);
		arr[obj.id] = country;
		
		Plaka[obj.id]=paths[country].plaka;
		
		 var name=paths[country].name;
		 var plaka=paths[country].plaka;
      
         $.ajax({
        	 type:'GET',
        	 url:"@{Application.getVote()}",
             dataType:"json",
             data:{
            	 il:plaka
             },
             success:function(data){
            	 //alert(data[0]);
            	 //ciz(data[0],data[1],data[2],data[3],name);
            	 for(var i=0;i<4;i++)
            	 	 paths[country].vote[i]=data[i];	 
            	 
             }
         })
		
		
		
		var max;
        max=0;
        for(var i=0;i<4;i++)
        if(paths[country].vote[i]>=max)
        max=paths[country].vote[i];
         
        for(var i=0;i<4;i++)
        	if(paths[country].vote[i]==max)
        		if(i==0)
        			paths[country].color='orange';
        			else if(i==1)
        				paths[country].color='red';
        				else if(i==2)
        					paths[country].color='green';
        					else
        						paths[country].color='blue';
        
       // for(var i=0;i<4;i++)
        //	alert(paths[country].vote[i]);
		obj.attr({fill: paths[country].color});
		
		
		 obj.click(function(){
			 
			 var point = this.getBBox(0);
			 document.location.hash = arr[this.id];
			 var cnt=arr[this.id];
			 var name=paths[arr[this.id]].name;
			 var plaka=paths[arr[this.id]].plaka;

             $.ajax({
            	 type:'GET',
            	 url:"@{Application.getVote()}",
                 dataType:"json",
                 data:{
                	 il:plaka
                 },
                 success:function(data){
                	 //alert(data[0]);
                	 for(var i=0;i<4;i++)
            	 	 paths[cnt].vote[i]=data[i];	
                	 ciz(data[0],data[1],data[2],data[3],name);
                	 alert(data[0]+"-"+data[1]+"-"+data[2]+"-"+data[3]);
                 }
             })

			     }); 
		 
		 
		 
		obj
		.hover(function(){
this.animate({
				fill: '#1669AD'
			}, 300);

			
			//alert(colorr[obj.id]);
			document.location.hash = arr[this.id];		
			 var point = this.getBBox(0);
			

			$('#map').next('.point').remove();
			
			$('#map').after($('<div />').addClass('point'));
			var sum=paths[arr[this.id]].vote[0]+paths[arr[this.id]].vote[1]+paths[arr[this.id]].vote[2]+paths[arr[this.id]].vote[3];
		    $("#Toplam").val(sum);
			$("#AKP").val("%"+Math.round(100*paths[arr[this.id]].vote[0]/sum*100)/100 +"    ("+paths[arr[this.id]].vote[0]+"oy)");
			$("#CHP").val("%"+Math.round(100*paths[arr[this.id]].vote[1]/sum*100)/100 +"    ("+paths[arr[this.id]].vote[1]+"oy)");
			$("#MHP").val("%"+Math.round(100*paths[arr[this.id]].vote[2]/sum*100)/100 +"    ("+paths[arr[this.id]].vote[2]+"oy)");
			$("#Diger").val("%"+Math.round(100*paths[arr[this.id]].vote[3]/sum*100)/100 +"    ("+paths[arr[this.id]].vote[3]+"oy)");
			
			$('.point')
			.html(paths[arr[this.id]].name)
			
			.css({
				left: 100,
				top: 100
			})
			.fadeIn();
			
		}, function(){
			this.animate({
				fill: paths[arr[this.id]].color
			}, 300);
	
		})

		
		$('.point').find('.close').live('click', function(){
			
			var t = $(this),
				parent = t.parent('.point');
			
			parent.fadeOut(function(){
				parent.remove();
			});
			return false;
		});
		
		
		 
		
	}
		
			
});


var r = Raphael(1153,0,500,500);

function ciz(a,b,c,d,e){
	
    r.clear();

	r.g.txtattr.font = "12px 'Fontin Sans', Fontin-Sans, sans-serif";
	                
	                r.g.text(150, 210, e).attr({"font-size": 20});
	                
	                var pie = r.g.piechart(150, 350, 100, [b, a, c, d], {legend: ["%%.%% AKP", "%%.%% CHP","%%.%% MHP","%%.%% DİĞER"], legendpos: "east", href: ["http://ktuluceng.com", "http://ktuluceng.com","http://ktuluceng.com","http://ktuluceng.com"],colors:['orange', 'red', 'green','blue']});
	                pie.hover(function () {
	                    this.sector.stop();
	                    this.sector.scale(1.1, 1.1, this.cx, this.cy);
	                    if (this.label) {
	                        this.label[0].stop();
	                        this.label[0].scale(1.5);
	                        this.label[1].attr({"font-weight": 800});
	                    }
	                }, function () {
	                    this.sector.animate({scale: [1, 1, this.cx, this.cy]}, 500, "bounce");
	                    if (this.label) {
	                        this.label[0].animate({scale: 1}, 500, "bounce");
	                        this.label[1].attr({"font-weight": 400});
	                    }
	                    
	                });
	               
	//r.clear();
}
</script>
	     
	<div class="wrapper">
		<div id="map"></div>
	</div>
	<table>
		<form>
		<tr>
		<td>Toplam:</td> 
			<td><input id="Toplam" style="text-align: left; width:3em "/> oy.</td> 
						
		</tr>
		<tr> 
			<td>AKP:</td> 
			<td>			<input id="AKP" /> 
</td>

		</tr>
		<tr>	
			<td>CHP:</td>
			<td><input id="CHP" type="text" value="" /> 
</td>
		</tr>
		<tr>	
			<td>MHP:</td>
			<td><input id="MHP" type="text" value=""/> 
</td>
		</tr>

		<tr>	
			<td>Diğer:</td>
			<td><input id="Diger" type="text" value="" /> 
</td>
		</tr>	
		</form>

</table>
		